extends ../layouts/layout

block content
    .contenedor-utilidad
        a.btn-crear(href="/paciente/crear") + Crear paciente
        input(type="text" class="buscador" placeholder="Buscar por nombre")

    table.tabla
      thead
        tr
          th(data-column="id" data-type="number") ID
          th(data-column="nombre" data-type="text") Nombre
          th(data-column="apellido" data-type="text") Apellido
          th(data-column="documento" data-type="text") Documento
          th(data-column="fechaNacimiento" data-type="text") Fecha Nacimiento
          th(data-column="domicilio" data-type="text") Domicilio
          th(data-column="sexo" data-type="text") Sexo
          th(data-column="idPlanObraSocial" data-type="text") Plan Obra Social
          th Acciones
      tbody
        each paciente in pacientes
            tr
                td= paciente.id
                td= paciente.persona.nombre
                td= paciente.persona.apellido
                td= paciente.persona.fechaNacimiento
                td= paciente.persona.domicilio
                td= paciente.persona.domicilio
                td= paciente.persona.sexo
                td= paciente.plan_obrasocial.nombre
                td
                    a(href=`/paciente/editar/${paciente.id}`)
                        span.material-symbols-outlined.editar edit
                    a(href="#")
                        span.material-symbols-outlined.eliminar delete
    
    script(src="/script/buscador.js")
    script(src="/script/eliminarPaciente.js")